<!-- wp:template-part {"slug":"header","theme":"course","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1000px"}} -->
<div class="wp-block-group">

  <!-- wp:group {"layout":{"inherit":true,"type":"constrained","contentSize":"666px","justifyContent":"left"}} -->
  <div class="wp-block-group">
    <!-- wp:post-title {"level":1} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"style":{"spacing":{"padding":{"top":"2.5rem"}}},"layout":{"type":"constrained","contentSize":"666px","justifyContent":"left"}} -->
  <main class="wp-block-group" style="padding-top:2.5rem">

    <!-- wp:post-featured-image {"align":"full"} /-->
    <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"inherit":true},"fontFamily":"primary"} /-->
  </main>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group">
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"course","tagName":"footer"} /-->
