<!-- wp:template-part {"slug":"header","tagName":"header","className":"no-background no-stick move-cover landing-page__header"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true}} -->
<main class="wp-block-group">
  <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained","contentSize":"1200px"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:spacer {"height":"4rem"} -->
  <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  <!-- wp:pattern {"slug":"course/comments"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"sensei-theme","tagName":"footer"} /-->