<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"no-background no-stick move-cover landing-page__header"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"align":"wide","layout":{"type":"default"}} -->
<main class="wp-block-group alignwide">
  <!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"wide","layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:spacer {"height":"4rem"} -->
  <div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:pattern {"slug":"course/comments"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer", "tagName":"footer"} /-->
