<!-- wp:group {"layout":{"type":"constrained","contentSize":"1000px"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"sensei-theme","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained","contentSize":"666px","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"fontSize":"2-5x-large"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"style":{"spacing":{"padding":{"top":"20px"}}},"layout":{"type":"constrained","contentSize":"666px","justifyContent":"left"}} -->
<main class="wp-block-group" style="padding-top:20px"><!-- wp:post-featured-image {"align":"full"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"inherit":true},"fontSize":"small","fontFamily":"eb-garamond"} /--></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"footer","theme":"sensei-theme","tagName":"footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->